.title{
    text-align: center;
    font-size: 80px;
}
.accordion-body_one{
    width: 100%;
    height: 170px;
    display: flex;
}
.accordion-body_one img{
    width: 150px;
    height: 100px;
}
.accordion-body_one p {
    width: 400px;
}